/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .services-top {
    border-radius: 0.3125em;
    margin: auto;
    margin-top: -5.4375em;
    position: relative;
    z-index: 100;
    background: #fff;
    width: 90%;
    max-width: 57.2em;
    padding: 3.125em 1.25em;
    border-top: 0.375em solid var(--primary);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 3.125em;
  }
  .services-top .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 22.3125em;
    margin: auto;
    margin-bottom: 3.125em;
  }
  .services-top .card:last-of-type {
    margin-bottom: 0;
  }
  .services-top .card picture {
    background: var(--primary);
    width: 4.4em;
    height: 4.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1.4375em;
    border-radius: 50%;
  }
  .services-top .card picture img {
    width: 3.5em;
    height: 3.5em;
  }
  .services-top .card h2 {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.65em;
  }
  .services-top .card p {
    text-align: center;
    line-height: 1.33333333em;
    width: 70%;
    opacity: .7;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services-top {
    font-size: min(1.8vw, 1em);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
  }
  .services-top .card {
    margin: 0;
    max-width: 20.3125em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  /* .services {
    padding: 3.125em 5em;
  } */
  .services-top .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    color: #fff;
    font-weight: bold;
  }
}
